@import-normalize;
@import url(/node_modules/dejavu-sans/css/dejavu-sans.css);



.body{
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: 'DejaVu Sans', sans-serif;
}

h2{
  font-size: .90em;

}
h3{
  font-size: .75em;
  font-weight: 200;
}
.content >h3>a{
  color: #979692;
  font-size: .90em;
  text-decoration: none;
}
.content >p{
  color: #979692;
  font-weight: 100;
  font-size: .70em;
}

table{
  table-layout: fixed;
}

.storyItem > td:first-of-type{
  padding:0;
  margin: 0;
  color: #979692;
  font-weight: 300;
  font-size: .70em;
  width: 5%;
  text-align: end;
  max-width: 6%;
  min-width: 1%;
}
.storyItem > td:nth-of-type(2){
  align-self: baseline;
  height: 90%;
  color: #979692;
  font-weight: 300;
  width: 5%;
  max-width: 6%;
  min-width: 1%;
}

table{
  width: 100%;
}

.storyItem > td:first-of-type span{
  margin:0;
  padding:0;
}
.story{
  margin: 0;
  padding:0;
  width: 100%;
 }

.story > tr{
  margin:0;
  padding:0;
  width: 100%;
}
.storyItem{
  margin:0;
  padding:0;  
}
.containerField{
  margin:0;
  padding:0;
  width: 100%;
  background-color: #F6F5F0;
}

.headerItems{
  display:flex;
  flex-direction: column;
  align-items: initial;
  flex: 1;

}

.headerItems ul, h2{
  margin:0;
  padding: 0;
}

.headerItems h2{
  align-self: flex-start;
  margin-left: 5px;
}

.header{
  background-color: #FB6518; 
  display: flex;
  flex: 1;
  align-items: center;
  height: inherit;
  padding: 3px 0px
}

.header p{
  align-self: center;
  margin: 0px 5px 0 0; 
}



.headerItems ul{
  padding-left: 0;
  font-size: 0.90em;
  flex-wrap: wrap;
  align-self: flex-start;
  margin:0;
}

.line{
  background-color: #FB6518;
  height:0.15em;
}

.header > div{
  display: flex;
  align-items: center;
}


.header img{
  max-width: auto;
  max-height: auto;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin: 0 4px 0 2px;
}

ul{
  display: flex;
  list-style-type: none;
  align-items: baseline;
}
ul li{
  margin-left: 5px;
}



.content > h3{
  margin-bottom: 0;
}
.content > p{
  margin: 0;
}
.footer-menu >ul{
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.70em;
}

.footer div:nth-of-type(3){
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  
}

.search label{
  font-size: 0.80em;
  font-weight: 300;
  color: #979692;
  align-self: center;
  margin-right: 10px;
}

.more{
  margin-left: 4%;
  color: #979692;
  cursor: pointer;
}




@media only screen and (min-width:768px){
  .containerField{
    margin:0;
    padding:0;
    width: 85%;
  }

  .headerItems-L{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  .headerItems-L h2{
    align-self: center;
    margin-left: 5px; 
  }
  .header p{
    align-self: center;
    margin: 0px 5px 0 0; 
  }
  .storyItem > td:first-of-type{
  padding:0;
  margin: 0;
  color: #979692;
  font-weight: 300;
  font-size: .70em;
  width: 2%;
  text-align: end;
  max-width: 4%;
  min-width: 1%;
}
.storyItem > td:nth-of-type(2){
  align-self: baseline;
  height: 90%;
  color: #979692;
  font-weight: 300;
  width: 1%;
  max-width: 4%;
  min-width: 1%;
}
}
